@import './config';
// @import './responsiv';


@mixin fonts ($color: #000000, 
                $family: serif, 
                $size: 100%, 
                $weight: normal, 
                $line-height: 0, 
                $la-spacing: 0,
                $style: normal
            ) {

    color: $color;
    font-family: $family; 
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    letter-spacing: $la-spacing;
    font-style: $style;

}
@mixin imgUrl( ) { 
    height: calc(100% - 50%)  ;
    width: calc(100% - 50%)  ; 
    text-align: center;
    
}
@mixin text ($mtop:95px, $mleft: 140px){ 
    margin-top: $mtop;
    margin-left: $mleft;
    width: max-content; 
    transform-origin: right; 
    transform: rotate(90deg); 
    
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
}

@mixin name ($mtop: 250px, $mright: 50px){
    margin-top: $mtop;
    margin-right:$mright; 
    width: max-content;
    
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
}

body {
    margin: 0;
    background-color: #fafafa;

    & .container{   

        & .header{ 
             
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
            &-items {
                  
                & h1{ 
                    @include fonts( $family: serif, 
                                    $size: 32px, 
                                    $weight: bold,
                                    $line-height: 48px,
                                    $la-spacing: -0.045em,
                                    $style: normal);
                }

                & p {
                    
                    @include fonts($color:#000000, 
                                        $family: poppins,
                                        $size: 18px, 
                                        $line-height: 27px 
                                        );
                
                    span{
                        @include fonts($color:#000000, 
                                        $family: poppins,
                                        $size: 18px,
                                        $weight: 600,
                                        $line-height: 27px );

                        text-transform: uppercase;
                    }
                }
            }

        }
        
        & .crew {   

            &-items {

                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                & .team {
                    display: grid;
                    grid-template-columns: 250px  250px   ;

                    & .members{  

                        & .items {
                            display: flex;

                            & img{
                                height: calc(100% - 50%);
                                width: calc(100% - 50%); 
                            }

                            & .text{
                                padding-top: 15px; 
                                margin-top: 20%; 
                                transform-origin: top;
                                transform: rotate(90deg);
                            }
                        }
                    }

                }

            }
        }

        & footer {
            
            color: #898484;

            & a{
            font-family: monospace;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;  
            color: #898484;
            padding-left: 2px;
          
          }
        }
    }
}
 